// Using NordTheme
// https://www.nordtheme.com

@import 'keyframes.scss';

$bg-1: #232634;
$bg-2: #292c3c;
$bg-3: #303446;

$white-1: #c6d0f5;
$white-2: #b5bfe2;
$white-3: #a5adce;

$blue-1: #babbf1;
$blue-2: #8caaee;
$blue-3: #85c1dc;
$sky: #99d1db;


$purple: #ca9ee6;
$green: #a6d189;
$yellow: #e5c890;
$orange: #ef9f76;
$red: #e78284;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: $bg-1;
    background-image: url('/img/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: auto center;

    font-family: 'JetBrains Mono', monospace;
    overflow-x: hidden;
} 

.topbar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
        color: $blue-1;
        font-size: 1.7rem;
        padding: 0.5rem 1.5rem;
        border-radius: 100px;
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    a:hover {
        color: $bg-1;
        background-color: $sky;
        border-radius: 20px;
    }

    a:nth-child(1) i {
        font-size: 1.2rem;
    }
}

.intro {
    height: 55vh;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;

    .intro_content {
        height: 80%;
        width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;

        justify-items: center;
        text-align: center;

        color: $blue-1;
        div {
            grid-row: 1 / 3;
            grid-column: 1 / 2;
            align-self: center;

            display: grid;
            justify-items: flex-end;
            img {
                width: 30%;
                border-radius: 50%;
            }
        }
        h1 {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            align-self: flex-end;
            margin-bottom: 0.5rem;
            font-size: 2rem;
        }
        h3 {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            align-self: flex-start;
            margin-top: 0.35rem;
        }
    }
}

.content1 {
    height: 35vh;

    .programming {
        height: 50%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        color: $blue-1;
        h1 {
            padding-bottom: 1rem;
            font-size: 2rem;
        }
        div {
            padding-bottom: 0.5rem;
            color: $sky;
        }
        p {
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 1150px) {
    .intro {
        .intro_content {
            height: 90%;
            width: calc(100% - 1rem);
            
            display: flex;
            flex-direction: column;
            justify-items: center;

            div {
                grid-row: 1 / 2;
                justify-items: center;
                img {
                    width: 20%;
                    min-width: 86px;
                }
                align-self: center;
                margin-bottom: 1rem;
            }
            h1 {
                grid-row: 2 / 3;
                font-size: 1.5rem;
                align-self: center;
            }
            h3 {
                grid-row: 3 / 4;
                font-size: 1rem;
                align-self: center;
            }
        }
    }
}

@media (max-width: 470px) {
    .intro {
        .intro_content {
            div {
                padding-top: 3.5rem;
            }
            h1 {
                grid-row: 2 / 3;
                font-size: 1rem;
                align-self: center;
            }
            h3 {
                grid-row: 3 / 4;
                font-size: 0.75rem;
                align-self: center;
            }
        }
    }
    .content1 {
        .programming {
            h1 {
                font-size: 1rem;
            }
            div {
                padding-bottom: 0.5rem;
                color: $sky;
            }
            p {
                font-size: 0.5rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .topbar a {
        font-size: 1.4rem; 
    }
    
    .topbar a:nth-child(1) i {
        font-size: 1rem;
    }

}

@media (max-width: 345px) {
    .topbar a {
        font-size: 1rem; 
    }
    .topbar a:nth-child(1) i {
        font-size: 0.75rem;
    }
}

.projects {
    margin: 0;
    padding: 0;

    height: 80vh;
    width: 100vw;
    
    margin-top: 10vh;
    
    display: grid;
    grid-template-rows: 1fr 5fr;

    justify-content: center;
    align-content: center;
    

    .proj_title h1 {
        color: $sky;

        grid-row: 1 / 2;

        overflow: hidden; 
        width: 17rem;

        border-right: .15em solid $blue-1;

        white-space: nowrap; 

        margin: 0 auto; 

        letter-spacing: .15em; 

        animation: typing 2s steps(25, end), blink-caret .5s step-end infinite;

        font-size: 2rem;
    }
    .proj_proj {
        height: 55vh;
        width: 70vw;

        margin-top: 7vh;

        border-radius: 20px;

        grid-row: 2 / 3;

        background-color: $bg-2 ;
        
        display: grid;
        grid-template-rows: 10% 90%;
        
        justify-items: center;
        align-items: center;
        
        box-shadow: 0 0 20px 5px #ffffff10;

        .proj_proj-btn{
            height: 80%;
            width: 98%;
            margin-top: 10px;
            display: grid;
            grid-template-rows: 1fr;
            justify-content: right;

            border-radius: 10px;
            background-color: $bg-3;
            div {
                margin-right: 25px;
                align-self: center;

                
                i {
                    margin-left: 5px;
                    padding: 5px;

                }

                i:nth-child(1) {
                    color: $red;
                }
                i:nth-child(2) {
                    color: $yellow;
                }
                i:nth-child(3) {
                    color: $red;
                }
            }

        }
        .proj_proj-cont {
            height: 90%;
            width: 98%;

            border-radius: 10px;
            background-color: $bg-3;

            display: grid;

            justify-items: center;
            align-items: center;
            grid-template-rows: repeat(6, 25%);
            grid-template-columns: 1fr;

            overflow-y: scroll;
            overflow-x: hidden;

            div {
                height: 80%;
                width: 95%;
                border-radius: 20px;

                display: grid;
                align-content: center;
                justify-content: left;



                p {
                    margin-left: 1rem;
                    color: $blue-1;

                    span {
                        color: $sky;
                    }
                    a {
                        color: $blue-3;
                    }
                }
            }
        }
    }
}


@media (max-width: 700px) {
    .projects {
        .proj_title h1 {
            font-size: 1.5rem;
            width: 13rem;
            animation: typing2 2s steps(20, end), blink-caret .5s step-end infinite;
        }
        .proj_proj {
            width: 90vw;

            .proj_proj-btn div i {
                font-size: 0.85rem;
            }
        }
    }
}

@media (max-width: 550px) {
    .projects {
        .proj_title h1 {
            font-size: 1.25rem;
            width: 11rem;
            animation: typing3 2s steps(20, end), blink-caret .5s step-end infinite;
        }
        .proj_proj {
            .proj_proj-btn div i {
                font-size: 0.75rem;
            }
            .proj_proj-cont {
                .div {
                    p {
                        margin-left: 1rem;
                        font-size: smaller;
                        span {
                            color: $sky;
                        }
                        a {
                            color: $blue-3;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .projects {
        .proj_proj {
            .proj_proj-cont {
                .div {
                    p {
                        font-size: small;
                        span {
                            color: $sky;
                        }
                        a {
                            color: $blue-3;
                        }
                    }
                }
            }
        }
    }
}
