@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* The typing effect */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 17rem;
  }
}
@keyframes typing2 {
  from {
    width: 0;
  }
  to {
    width: 13rem;
  }
}
@keyframes typing3 {
  from {
    width: 0;
  }
  to {
    width: 11rem;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #babbf1;
  }
}
@keyframes out {
  from {
    right: 0;
  }
  to {
    right: -500vh;
  }
}
@keyframes in {
  from {
    right: -500vh;
  }
  to {
    right: 0;
  }
}
@keyframes popupPrj {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes popupIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popupOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "JetBrains Mono", monospace;
}

body {
  background-color: #232634;
  background-image: url("/img/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: auto center;
  font-family: "JetBrains Mono", monospace;
  overflow-x: hidden;
}

.topbar {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topbar a {
  text-decoration: none;
  color: #babbf1;
  font-size: 1.7rem;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.topbar a:hover {
  color: #232634;
  background-color: #99d1db;
  border-radius: 20px;
}
.topbar a:nth-child(1) i {
  font-size: 1.2rem;
}

.intro {
  height: 55vh;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.intro .intro_content {
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: center;
  text-align: center;
  color: #babbf1;
}
.intro .intro_content div {
  grid-row: 1/3;
  grid-column: 1/2;
  align-self: center;
  display: grid;
  justify-items: flex-end;
}
.intro .intro_content div img {
  width: 30%;
  border-radius: 50%;
}
.intro .intro_content h1 {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: flex-end;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.intro .intro_content h3 {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: flex-start;
  margin-top: 0.35rem;
}

.content1 {
  height: 35vh;
}
.content1 .programming {
  height: 50%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: #babbf1;
}
.content1 .programming h1 {
  padding-bottom: 1rem;
  font-size: 2rem;
}
.content1 .programming div {
  padding-bottom: 0.5rem;
  color: #99d1db;
}
.content1 .programming p {
  font-size: 0.8rem;
}

@media (max-width: 1150px) {
  .intro .intro_content {
    height: 90%;
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .intro .intro_content div {
    grid-row: 1/2;
    justify-items: center;
    align-self: center;
    margin-bottom: 1rem;
  }
  .intro .intro_content div img {
    width: 20%;
    min-width: 86px;
  }
  .intro .intro_content h1 {
    grid-row: 2/3;
    font-size: 1.5rem;
    align-self: center;
  }
  .intro .intro_content h3 {
    grid-row: 3/4;
    font-size: 1rem;
    align-self: center;
  }
}
@media (max-width: 470px) {
  .intro .intro_content div {
    padding-top: 3.5rem;
  }
  .intro .intro_content h1 {
    grid-row: 2/3;
    font-size: 1rem;
    align-self: center;
  }
  .intro .intro_content h3 {
    grid-row: 3/4;
    font-size: 0.75rem;
    align-self: center;
  }
  .content1 .programming h1 {
    font-size: 1rem;
  }
  .content1 .programming div {
    padding-bottom: 0.5rem;
    color: #99d1db;
  }
  .content1 .programming p {
    font-size: 0.5rem;
  }
}
@media (max-width: 500px) {
  .topbar a {
    font-size: 1.4rem;
  }
  .topbar a:nth-child(1) i {
    font-size: 1rem;
  }
}
@media (max-width: 345px) {
  .topbar a {
    font-size: 1rem;
  }
  .topbar a:nth-child(1) i {
    font-size: 0.75rem;
  }
}
.projects {
  margin: 0;
  padding: 0;
  height: 80vh;
  width: 100vw;
  margin-top: 10vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  justify-content: center;
  align-content: center;
}
.projects .proj_title h1 {
  color: #99d1db;
  grid-row: 1/2;
  overflow: hidden;
  width: 17rem;
  border-right: 0.15em solid #babbf1;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 2s steps(25, end), blink-caret 0.5s step-end infinite;
  font-size: 2rem;
}
.projects .proj_proj {
  height: 55vh;
  width: 70vw;
  margin-top: 7vh;
  border-radius: 20px;
  grid-row: 2/3;
  background-color: #292c3c;
  display: grid;
  grid-template-rows: 10% 90%;
  justify-items: center;
  align-items: center;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.062745098);
}
.projects .proj_proj .proj_proj-btn {
  height: 80%;
  width: 98%;
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: right;
  border-radius: 10px;
  background-color: #303446;
}
.projects .proj_proj .proj_proj-btn div {
  margin-right: 25px;
  align-self: center;
}
.projects .proj_proj .proj_proj-btn div i {
  margin-left: 5px;
  padding: 5px;
}
.projects .proj_proj .proj_proj-btn div i:nth-child(1) {
  color: #e78284;
}
.projects .proj_proj .proj_proj-btn div i:nth-child(2) {
  color: #e5c890;
}
.projects .proj_proj .proj_proj-btn div i:nth-child(3) {
  color: #e78284;
}
.projects .proj_proj .proj_proj-cont {
  height: 90%;
  width: 98%;
  border-radius: 10px;
  background-color: #303446;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(6, 25%);
  grid-template-columns: 1fr;
  overflow-y: scroll;
  overflow-x: hidden;
}
.projects .proj_proj .proj_proj-cont div {
  height: 80%;
  width: 95%;
  border-radius: 20px;
  display: grid;
  align-content: center;
  justify-content: left;
}
.projects .proj_proj .proj_proj-cont div p {
  margin-left: 1rem;
  color: #babbf1;
}
.projects .proj_proj .proj_proj-cont div p span {
  color: #99d1db;
}
.projects .proj_proj .proj_proj-cont div p a {
  color: #85c1dc;
}

@media (max-width: 700px) {
  .projects .proj_title h1 {
    font-size: 1.5rem;
    width: 13rem;
    animation: typing2 2s steps(20, end), blink-caret 0.5s step-end infinite;
  }
  .projects .proj_proj {
    width: 90vw;
  }
  .projects .proj_proj .proj_proj-btn div i {
    font-size: 0.85rem;
  }
}
@media (max-width: 550px) {
  .projects .proj_title h1 {
    font-size: 1.25rem;
    width: 11rem;
    animation: typing3 2s steps(20, end), blink-caret 0.5s step-end infinite;
  }
  .projects .proj_proj .proj_proj-btn div i {
    font-size: 0.75rem;
  }
  .projects .proj_proj .proj_proj-cont .div p {
    margin-left: 1rem;
    font-size: smaller;
  }
  .projects .proj_proj .proj_proj-cont .div p span {
    color: #99d1db;
  }
  .projects .proj_proj .proj_proj-cont .div p a {
    color: #85c1dc;
  }
}
@media (max-width: 450px) {
  .projects .proj_proj .proj_proj-cont .div p {
    font-size: small;
  }
  .projects .proj_proj .proj_proj-cont .div p span {
    color: #99d1db;
  }
  .projects .proj_proj .proj_proj-cont .div p a {
    color: #85c1dc;
  }
}

/*# sourceMappingURL=styles.css.map */
